<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Featured Games Start ***** -->
        <div class="row">
          <div class="col-lg-12">
              <h4><em>Lista de Jogos</h4>
          </div>
        </div>
        <!-- ***** Featured Games End ***** -->

        <div class="row row-cols-1 row-cols-md-5 g-4">
          <% @games.each do |game| %>
            <div class="col">
              <%= image_tag main_app.url_for(game.picture), width: 150, height: 300, class: 'image-fit' if game.picture.attached? %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mt-2 w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Adicionar
                </button>
                <ul class="dropdown-menu w-100 text-center">
                  <li><a class="dropdown-item" href="#">Finalizei</a></li>
                  <li><a class="dropdown-item" href="#">Tenho</a></li>
                  <li><a class="dropdown-item" href="#">Quero</a></li>
                  <li><a class="dropdown-item" href="#">Sei la</a></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

