<div> <%= image_tag main_app.url_for(instance.picture) if instance.picture.attached? %> </div>
<hr>
<div> <%= image_tag main_app.url_for(instance.background_image) if instance.background_image.attached? %> </div>
